@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
  --grey: #444444;
  --white: #f2f2f2;
  --bodyColor: #d7d6d6;
  --blue: #3b5cc3;
  --red: #b44b6f;
  --green: #6fb44b;
  --shadow-color: #b3b3b3;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--bodyColor);
}

main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

/*HEADER*/
.headerPage {
  padding: 1.5rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--shadow-color);
  box-shadow: 0 2px 10px var(--shadow-color);
}

.headerPage > img {
  height: 3.5rem;
}

/*POST LIST*/
.postsList {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--white);
}

.postsList__addButton {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  height: 2.5rem;
  width: 5rem;
  align-self: flex-end;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  background-color: var(--blue);
  color: var(--white);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.postsList__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--grey);
  margin-bottom: 1rem;
}

.postsList__ulPostsList {
  max-height: 500px;
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--white);
}

.postsList__ulPostsList__liPostsList {
  margin-bottom: 1rem;
  border: 1px solid var(--shadow-color);
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px var(--shadow-color);
  background-color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.postsList__ulPostsList__liPostsList__postUi__pPostUi {
  line-height: 1.2rem;
  font-weight: 500;
}

/*POST DETAIL*/
.postDetail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 700px;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--white);
}

.postDetail__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--grey);
}

.postDetail__form {
  padding: 1rem;
  border-radius: 10px;
}

.postDetail__form__inputsFieldset {
  display: flex;
  flex-direction: column;
}

.postDetail__form__inputsFieldset__postTitleLabel,
.postDetail__form__inputsFieldset__postBodyLabel {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  color: var(--grey);
}

.postDetail__form__inputsFieldset__postTitleInput,
.postDetail__form__inputsFieldset__postBodyTextarea {
  height: 2rem;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--shadow-color);
  margin-bottom: 1rem;
}

.postDetail__form__inputsFieldset__postBodyTextarea {
  height: 10rem;
  resize: none;
  padding: 0.5rem;
}

.postDetail__form__buttonsFieldset {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.postDetail__form__buttonsFieldset__addButton {
  order: 1;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  background-color: var(--blue);
  color: var(--white);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.postDetail__form__buttonsFieldset__cancelButton {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  background-color: var(--red);
  color: var(--white);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.postDetail__form__buttonsFieldset__updateButton {
  order: 3;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  background-color: var(--blue);
  color: var(--white);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.postDetail__form__buttonsFieldset__deleteButton {
  order: 2;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  height: 2.5rem;
  width: 5rem;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  background-color: var(--green);
  color: var(--white);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

@media (min-width: 700px) {
  .postsList__addButton {
    height: 3rem;
    width: 6rem;
  }

  .postDetail__form__buttonsFieldset > button {
    height: 3rem;
    width: 6rem;
  }
}
@media (min-width: 1000px) {
  main {
    flex-direction: row;
    gap: 5rem;
    position: relative;
  }

  .postsList {
    max-width: 500px;
  }

  .postsList__ulPostsList {
    max-height: 65vh;
  }

  .postsList__ulPostsList__liPostsList:hover {
    transform: scale(1.02);
  }

  .postDetail {
    position: relative;
    align-self: flex-start;
    top: 40px;
  }
  .postsList__addButton:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 5px 15px var(--grey);
  }
  .postDetail__form__buttonsFieldset > button:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 5px 15px var(--grey);
  }
}
